<div class="container">

  <figure class="center">
    <%= image_tag('LISTED-GAMES-LOGO-1.png')%>
  </figure>

  <ul class="collection with-header center">
    <li class="collection-header"><h4>Top Video Games</h4></li>
    <% @video_games.first.class.top_5.collect do |video_game| %>
      <li class="collection-item hoverable"><%= link_to video_game.title, video_game_path(video_game) %></li>
    <% end %>
  </ul>


  <h4 class="center">All Video Games</h4>
  <ul>
    <% @video_games.each do |video_game| %>
      <li class="center"><%= link_to video_game.title, video_game_path(video_game) %></li>
    <% end %>
  </ul>


  <div class="row center"><%= link_to "Create New Video Game", new_video_game_path, class: "btn-large waves-effect waves-light teal lighten-1" %></div>
</div>
