<div class="container">

  <figure class="center">
    <%= image_tag('LISTED-MUSIC-LOGO.png')%>
  </figure>


  <ul class="collection with-header center">
    <li class="collection-header"><h4>Top Artists</h4></li>
    <% @artists.first.class.top_5.collect do |artist| %>
      <li class="collection-item hoverable"><%= link_to artist.title, artist_path(artist) %></li>
    <% end %>
  </ul>

  <div class="row center"><%= link_to "Create New Artist", new_artist_path, class: "btn-large waves-effect waves-light teal lighten-1" %></div>

  <h4 class="center">All Artists</h4>
  <ul>
    <% @artists.each do |artist| %>
      <li class="center"><%= link_to artist.title, artist_path(artist) %></li>
    <% end %>
  </ul>


</div>
