<h3 class="center">Artists</h3>

<ul>
<% @artists.each do |artist| %>
  <li class="center"><%= link_to artist.title, artist_path(artist) %></li>
<% end %>
</ul>


<div class="row center"><%= link_to "Create New Artist", new_artist_path, class: "btn-large waves-effect waves-light teal lighten-1" %></div>
