<h3 class="center">Movies</h3>

<ul>
<% @movies.each do |movie| %>
  <li class="center"><%= link_to movie.title, movie_path(movie) %></li>
<% end %>
</ul>


<div class="row center"><%= link_to "Create New Movie", new_movie_path, class: "btn-large waves-effect waves-light teal lighten-1" %></div>
