<p>You don't appear to be logged in</p>
<p>Please <%= link_to "Login", new_session_path, class: "btn-large waves-effect waves-light teal lighten-1" %> or
   <%= link_to "Sign Up", new_user_path, class: "btn-large waves-effect waves-light teal lighten-1" %></p>
