
<h5>Reviews</h5>
<% if @review %>
<ul>
<% @review.reviewable.reviews.each do |review| %>
    <li class="row card">
      <div class="">
        <div class="row reviewable-row">
          <label class="tiny col s2">User: </label>

          <span class="tiny col s1"><%=link_to "#{review.user.username}", user_path(review.user_id) %></span>
        </div>

        <div class="row reviewable-row">
          <label class="tiny col s2">Rating: </label>
          <span class="tiny col s1"><%= review.rating %></span>
        </div>

        <div class="row reviewable-row">
          <label class="tiny col s1">Review: </label>
        </div>

        <div class="row">
          <span class="col s12"><%= review.content %></span>
        </div>

        <% if logged_in? && current_user.id == review.user_id %>
          <%= button_to("Delete Review", review_path(review), method: 'delete', class: "btn waves-effect waves-light teal lighten-1")%>
        <% end %>
      </div>
    </li>
<% end %>
</ul>

<% end %>
