<h1>WELCOME TO THE RATINGS APP™</h1>

<h3><%= link_to "Sign Up!", new_user_path %></h3>
<h3><%= link_to "Log In!", new_session_path %></h3>


<p>eventually we will have links to the different media index pages</p>
<p>view all books</p>
<p>view all movies</p>
<p>view all video games</p>
