<div id="index-banner" class="parallax-container main-page-logo">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2"></h1>
      <div class="row center">
        <%= link_to "Sign Up", new_user_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
      </div>
      <div class="row center">
        <%= link_to "Log In", new_session_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
      </div>
      <br><br>
    </div>
  </div>
</div>
