<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <%= image_tag "LISTED-LOGO.png" %>
      </div>
      <% if !logged_in? %>
        <div class="row center login_signup">
          <%= link_to "Log In", new_session_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
          <span class="tiny"> or </span>
          <%= link_to "Sign Up", new_user_path, class: "btn-large waves-effect waves-light teal lighten-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
