<div class="container">

  <figure class="center">
    <%= image_tag('LISTED-BOOKS-LOGO.png')%>
  </figure>

  <ul class="collection with-header center">
    <li class="collection-header"><h4>Top Books</h4></li>
    <% @books.first.class.top_5.collect do |book| %>
      <li class="collection-item hoverable"><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>


  <h4 class="center">All Books</h4>
  <ul>
    <% @books.each do |book| %>
      <li class="center"><%= link_to book.title, book_path(book) %></li>
    <% end %>
  </ul>


  <div class="row center"><%= link_to "Create New Book", new_book_path, class: "btn-large waves-effect waves-light teal lighten-1" %></div>
</div>
